/* Jeg har foreløpig byttet ut alle bildene med ett jeg har laget selv i Paint, av opphavsrettsmessige årsaker. Bare for å være på den sikre siden. */

/* Gjelder for hele HTML og body. Dette er altså ikke en class. */
/* Det er fint å sette margin og padding til 0 som et utganspunkt, for å unngå kluss. */
html, body{
    margin: 0;
    padding: 0;
}

/* Generelt oppsett for bakgrunner. */
.background{
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
}

/* Overskrift("welcome to my website) */

.greeting-title{
    /* color: green; */
    color: yellow;
}

.work-title{
    color: white;
}

.title{
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
    padding-top: 10vh;
    /* Setter overskriften mer eller mindre i midten.
    Jeg kunne ikke bruke padding på bakgrunnen som med andre bakgrunner, ettersom dette gjorde bakgrunnen altfor stor.
    Derfor satte jeg den her i stedet */
}

/* Nav er felles for all navigasjon, main-nav gjelder for hoved-nav-en på toppen, og project-nav gjelder for nav-ene til prosjektet. */

.nav{
    top: 0;
    position: fixed;
    /* Tilpasser containerens bredde, så knappene havner i midten. */
    width: 100%;
    text-align: center;
}

/* Gjelder for alle linkene, samlet. */

.nav ul{
   margin: 0;
}

/* Gjelder for boksen som inneholder hver enkel link. */

.nav li{
   display: inline;
}

/* Gjelder for selve linkene. */

.nav a{
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}

/* Device-width gir enhetens absolutte bredde. */
@media (max-device-width: 830px) {
    .nav a{
    font-size: 4em;
    }
}

.main-nav{
    /* background-color: burlywood; */
    /* Hologrameffekt. */
    background-image: linear-gradient(rgba(93, 93, 255, 1), rgba(0, 0, 0, 1));
}

.main-nav a{
    /* color:black; */
    /* Hologramfarge. */
    color: rgb(206, 206, 255);
}

.main-nav a:hover{
    color: white;
    /* Fader ut en gradient. */
    background-image: linear-gradient(rgba(0, 255, 255, 1), rgba(0, 0, 0, 0));
}

/* Navbar for utplassering. */
.work-nav{
    background-image: linear-gradient(rgba(100, 100, 100, 1), rgba(100, 100, 100, 0));
}

.work-nav a{
    color: black;
}

.work-nav a:hover{
    background-image: linear-gradient(rgba(130, 130, 130, 1), rgba(130, 130, 130, 0));
}

.work-nav a:hover{
    color: white;
}

.top-section{
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
    /* Overstyrer annen padding og margin. */
    max-height: 100vh;
}

#welcome-section{
    /* background-image: url("../images/main-background-image.jpg"); */
    /* background-image: url(../images/welcome-background.jpg); */
    
    background-image: url(../images/stars.png);
    background-color: rgba(20, 10, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-section{
    background-image: url(../images/work-background.jpg);
    background-color: rgba(20, 20, 20, 0.3);
}

.about-background{
    /* background-image: url(../images/art-background.png); */
    /* background-image: url(../images/about-background.jpg); */
    
    background-image: url(../images/stars.png);
    /* Får bildet til å sitte på ett sted, sånn at bare det forrige går opp. */
    /* background-attachment: fixed; */
}

/* Generell container for tilpassing av innhold */
.container{
    padding: 100px;
    /* Innholdet holder seg innenfor rammen, basta! */
    max-width: 100vw;
    /* Forsikrer om at containeren er strukket over hele viewporten. */
    width: 100%;
}

.section-header{
    text-align: center;
    font-family: Courier;
    font-size: 2.8em;
    margin-top: 0;
}

.main-section-header{
    color: yellow;
}

.footer-section-header{
    /* Hologramfarge. */
    color: rgb(206, 206, 255);
}

/* Setter stilen til teksten i paragrafene. */

.common-text{
    /* color: tomato; */
    font-size: 1.5em;
    /* font-family: cursive; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-common-text{
    /* color: rgb(88, 88, 255); */
    color: rgb(89, 89, 255);
}

/* Bildet ved teksten om meg selv */

/* .stripes{
    width: 168px;
    height: 168px;
    float: left;
    border-radius: 100%;
} */

.rock{
    width: 168px;
    height: 168px;
    float: left;
    border-radius: 50%;
    padding-right: 10px;
}

/*  Dette kjønte jeg ikke så mye av, men hvis jeg får tid, skal jeg lese meg mer opp på det.

    circuit-background{
    display: grid;
    position: absolute;
    z-index: 1;
    background-image: url(/images/circuit.png);
    height: 100px;
    width: 200px;
}

.circuit-background::before{
    content: none;
    position: relative;
    z-index: -1;
    background-color: darkblue;
    height: 200px;
    width: 300px;
} */

.circuit-background{
    /* background-image: url(../images/building-the.future.jpg); */
    /* background-image: url(../images/circuit-background.jpg); */
    /* background-image: url(../images/about-background.jpg); */
    
    background-image: url(../images/stars.png);
    align-items: center;
    justify-content: center;
    /* Gir mange muligheter, blant annet align-items. */
}

.project-container{
    /* Stacker elementene, i dette tilfellet bildene, ved siden og oppå hverandre. */
    display: inline-block;
    /* Setter objekter på linje i forhold til hverandre. */
    text-align: center;
    /* Setter objekter på linje i forhold til kontaineren de er i. */
    /* justify-content: center; */
    /* Setter objekter på linje i forhold til hverandre. */
    /* align-items: center; */
}

.project-tile{
    width: 30vw;
    height: 20vw/1.2;
    padding: 5px;
}

.project-tile:hover{
    border: solid 5px blue;
    padding: 0px;
}

.tile-stack{
    display: flex;
    flex-direction: column;
}

.project-nav{
    background-color: blue;
}

.project-nav a{
    color: rgb(54, 255, 47);
}

.project-nav a:hover{
    /* Fader ut en gradient. */
    background-image: linear-gradient(rgba(0, 255, 255, 1), rgba(0, 0, 0, 0));
    color: white;
}

.running-background{
    background-color: goldenrod;
}

/* Kalibrerer headeren for å unngå at den kommer bak navbar. */
.navbar-calibration{
    padding-top: 25px;
}

.centralize-image{
    text-align: center;
}

.big-image{
    height: 300px;
    width: auto;
}

.segment-header{
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.segment{
    margin: 50px 0;
}

.project-text{
    /* color: tomato; */
    color: rgb(0, 13, 201);
    font-size: 1.1em;
    font-family: cursive;
}

.pot_led-background{
    background-color: goldenrod;
}

.work-section-header{
    color: lightseagreen;
}

.work-common-text{
    color: rgb(238, 56, 56);
}

.printer-background{
    background-image: url(../images/printer.jpg);
}

.worksite-background{
    background-image: url(../images/tevlingveien_15.png);
}

#profile-link{
    /* background-color: indianred; */
    /* Hologrameffekt. */
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(93, 93, 255, 1));
}

.footer-container{
    display: flex;
    align-items: center;
    padding: 0px 100px;
    margin-top: 0;
}

/* Gjelder bare for bildelinkene. */
.footer-container ul{
    /* Utvider størrelsen på containeren, så langt det lar seg gjøre innenfor flexboks-en. */
    flex-grow: 1;
    text-align: right;
}

.button-size{
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.media{
    margin: 0;
}

.media-nav li{
    display: inline;
}

.button-size{
    width: 60px;
    height: 60px;
}